@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  --main-color: #45C4C4;
  --main-light-color: #90DCDC;
  --main-dark-color: #1F6464;
  --secondary-color: #569892;
  --light-color: #ACD0CC;
  --dark-color: #000A09;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-text), Arial, Helvetica, sans-serif;
}

.title {
    font-family: var(--font-title);
}